<div>

  <div class="  ">
    <div class="">
      <app-branchnavbar></app-branchnavbar>
    </div>
    <div class="flex justify-center items-center pt-4 px-8"> 
      <form class=" w-[550px]" [formGroup]="myForm1" (ngSumbit)="submitReview()" #myForm="ngForm">
        <div class="space-y-6">
          <div class="border-b border-gray-900/10 pb-5">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
            
            <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6 ">
              <div class="sm:col-span-3">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Full Name</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                 
                  <input [(ngModel)]="formData.fullName" formControlName="fullname" type="text" name="fullname" id="email" class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your full name">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="number" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                  
                  <input type="text" [(ngModel)]="formData.phone" formControlName="number"  name="number" id="number" class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your phone number">
                </div>
              </div>

              <div class="sm:col-span-3">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                  
                  <input type="email" name="email" formControlName="email"  id="email" [(ngModel)]="formData.email" 
                    class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    placeholder="Enter your email">
                </div>
              </div>
              <div class="sm:col-span-3">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">City</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                  
                  <input type="City" [(ngModel)]="formData.city" formControlName="city" name="City" id="City" 
                    class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    placeholder="Enter your City">
                </div>
              </div>
              
            </div>
          </div>
          <div class="border-b border-gray-900/10 pb-5">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Reviews</h2>
            <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">

              <div class="sm:col-span-full" *ngFor="let question of questionList">
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">{{question.text}}? </label>
                <div class="relative mt-2 rounded-md ">
                  <input type="number" name="review" id="review" formControlName="review" required min="1" max="5"    [(ngModel)]="question.rating" class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your rating b/w 1 to 5">
                  <!-- <div *ngIf="question.rating < 1 || question.rating > 5" class="text-red-600">
                    Review must be between 1 to 5.
                  </div> -->
                </div>
                
                <!-- <div  *ngIf="myForm1.controls['review'].invalid && myForm1.controls['review'].touched">
                 <div class="text-red-600" *ngIf="myForm1.controls['review'].hasError('min') || myForm1.controls['review'].hasError('max')">Review must be between 1 to 5.</div>
                </div> -->
                
              </div>
            </div>
          </div>


        </div>

        <div class="mt-6 mb-6 flex items-center justify-end gap-x-6">
          <button type="button" class="text-sm px-3 py-2 rounded-md font-semibold leading-6 border text-gray-900">Cancel</button>
          <button type="submit" (click)="submitReview()" [disabled]="myForm1.invalid "
            class="disabled:bg-gray-500 rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm ">Submit</button>
        </div>
      </form>
    </div> 
</div>