<table class="w-full text-left divide-y divide-gray-300 ">
    <thead class="bg-[#F9FAFB]">
        <tr class="">
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-[#475467] hidden md:table-cell ">
                S.NO</th>

            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-[#475467] hidden md:table-cell">
                Name </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-[#475467] hidden md:table-cell">
                Email </th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-[#475467] hidden md:table-cell">
                Phone Number </th>
            <th scope="col"
                class="px-3 py-3.5 text-left md:text-sm font-12 font-semibold text-[#475467]  md:table-cell">
                City </th>
            <th scope="col" class="px-3 py-3.5 text-left md:text-sm font-12 font-semibold text-[#475467]">
                Avg Rating</th>


            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-[#475467] hidden md:table-cell">
                Action
            </th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white ">
        <tr *ngFor="let branch of branchreview">

            <td class="whitespace-nowrap px-3 py-4 text-sm text-[#101828] font-medium hidden md:table-cell">
                {{ branch.id }}</td>

            <td class="whitespace-nowrap px-3 py-4 text-sm text-[#475467] hidden md:table-cell">
                {{ branch.full_name }} </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-[#475467] hidden md:table-cell">
                {{branch.email}}
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-[#475467] hidden md:table-cell">
                {{ branch.phone }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-[#475467] hidden md:table-cell">
                {{branch.city}}</td>

            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                {{branch.avg_rating}}
            </td>



            <td
                class="relative whitespace-nowrap py-4 pl-3 pr-4 text-left text-sm font-medium sm:pr-6 hidden md:table-cell">
                <div class="space-x-4 flex">
                    <img (click)="openModaaal()" (click)="loadreviewInfo(branch.id)"  class="eye"
                        src="../../../assets/images/eye.svg" />
                    <img src="../../../assets/images/x.svg" (click)="deletereview(branch.id)" class="cursor-pointer" />
                </div>
            </td>
        </tr>
    </tbody>
</table>


<!--company profile-->
<div #modaaal class="relative z-50 hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
                <div class="pointer-events-auto w-screen max-w-lg ">
                    <div class="flex h-full flex-col overflow-y-scroll bg-white md:py-0  md:px-14 shadow-xl">
                        <div
                            class="md:py-8 md:px-0 px-4 py-4  md:shadow-none shadow-[0_0_16px_0_rgba(38,38,38,0.08)] ;">
                            <div class="flex items-start justify-between">
                                <div class="flex ">
                                    <img class="h-8 w-auto"
                                        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                                        alt="Your Company">
                                    <h2 class="md:text-xl text-base  my-auto ml-4 font-semibold leading-6 text-gray-900"
                                        id="slide-over-title"></h2>
                                </div>

                                <div class="ml-3 flex h-7 items-center my-auto">
                                    <button type="button" (click)="closeModaaal()"
                                        class="relative rounded-md bg-white text-gray-400 \ ">
                                        <span class="absolute -inset-2.5"></span>
                                        <span class="sr-only">Close panel</span>
                                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M6 18L18 6M6 6l12 12" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>



                        <div class="py-4 md:px-0 px-4">
                            <div class="md:border-[1px] md:border-[#ECEEF2] rounded-xl md:py-6 md:px-8">
                                <h2 class="md:text-xl text-base  my-auto  font-semibold leading-6 text-gray-900"
                                    id="slide-over-title">User Detail</h2>
                                <div class="border-b-[0.5px]  col-span-full  md:block hidden pb-4"></div>
                                <div class="mt-4 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-6" >
                                    <div class="sm:col-span-full">
                                        <label for="first-name"
                                            class="block text-sm font-medium leading-6 text-gray-900">User
                                            Id</label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

                                            </div>
                                            <input type="text" disabled name="first-name" id="first-name"
                                                autocomplete="given-name"
                                                class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                [(ngModel)]="reviewInfo.id" [disabled]="true">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-full">
                                        <label for="last-name"
                                            class="block text-sm font-medium leading-6 text-gray-900">User Name</label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

                                            </div>
                                            <input type="text" name="last-name" id="last-name"
                                                autocomplete="family-name"
                                                class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                [(ngModel)]="reviewInfo.full_name" [disabled]="true">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-full">
                                        <label for="last-name"
                                            class="block text-sm font-medium leading-6 text-gray-900">User Email</label>
                                        <div class="relative mt-2 rounded-md shadow-sm">
                                            <div
                                                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">

                                            </div>
                                            <input type="text" disabled name="last-name" id="last-name"
                                                autocomplete="family-name"
                                                class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                [(ngModel)]="reviewInfo.email" [disabled]="true">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-full">
                                        <label for="city"
                                            class="block text-sm font-medium leading-6 text-gray-900">Phone
                                            Number</label>
                                        <div class="mt-2">
                                            <input type="text" disabled name="city" id="city"
                                                autocomplete="address-level2"
                                                class="block w-full rounded-md border-0 py-1.5 pl-full text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pr-3"
                                                [(ngModel)]="reviewInfo.phone" [disabled]="true">
                                        </div>
                                    </div>

                                    <div class="sm:col-span-full">
                                        <label for="region"
                                            class="block text-sm font-medium leading-6 text-gray-900">City</label>
                                        <div class="mt-2">
                                            <input type="text" disabled name="region" id="region"
                                                autocomplete="address-level1"
                                                class="block w-full rounded-md border-0 py-1.5 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                                [(ngModel)]="reviewInfo.city" [disabled]="true">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>