<div>
  <app-branchsidenav [menuId]="6"></app-branchsidenav>
  <div class="lg:pl-60 ">
    <app-navbar></app-navbar>
    <div class="border-b py-3 px-4 flex justify-between">
      <h2 class="text-base font-semibold leading-7 text-gray-900">All Branches</h2>
      <button (click)="openModal()" type="button"
        class="inline-flex items-center gap-x-1.5 rounded-md bg-white border  px-2.5 py-1.5 text-sm font-semibold text-indego-900 shadow-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
          <path d="M12 5V19M5 12H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Add Branches
      </button>
    </div>
    <div class="">
      <app-branchlist></app-branchlist>
    </div>
    <div class="">
      <app-new-branchmodal [isOpen]="isModalOpen()" (closeModalEvent)="closeModal()"></app-new-branchmodal>
    </div>