<div>
    <app-side-nav [menuId]="2"></app-side-nav>
    <div class="lg:pl-60  ">
        <div class="">
            <app-navbar></app-navbar>
        </div>
    
        <div class="py-3 px-4">
            <div class="">
                <div class="border-b py-3 px-4 flex justify-between">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Admin Dashboard</h2>
                   
                </div>
            </div>
        </div>

        <div class="">
            <div class="mx-auto max-w-7xl py-4 px-6">
                <div class="grid grid-cols-3 space-x-2 border-0 ">
                    <div class="bg-gray-100 px-4 py-6 sm:px-6 lg:px-8 grid-cols-2 border-0 rounded-md">
                        <p class="text-sm font-medium leading-6 text-gray-900">Total Companies</p>
                        <div class="flex justify-between">
                            <p class="mt-2 flex items-baseline gap-x-2">
                                <span class="text-4xl font-semibold tracking-tight text-gray-900">{{this.analysis.total_review_count}}</span>
                            </p>
                            <img src="../../../assets/images/_Chart mini.svg" />
                        </div>
                    </div>
                    <div class="border-2 px-2 py-6  grid-cols-1 col-span-2 border-0 rounded-md ">
                        <div class="grid grid-cols-3 ">
                            <div class="md:border-r-2 px-4">
                                <p class="text-sm font-medium leading-6 text-gray-900">Total Positive Reviews</p>
                                <div class="flex justify-between">
                                    <p class="mt-2 flex items-baseline gap-x-2">
                                        <span class="text-4xl font-semibold tracking-tight text-gray-900">{{this.analysis.positive_review_count}}</span>
                                    </p>

                                </div>

                            </div>
                            <div class="md:border-r-2 px-4">
                                <p class="text-sm font-medium leading-6 text-gray-900">Total Negative Reviews</p>
                                <div class="flex justify-between">
                                    <p class="mt-2 flex items-baseline gap-x-2">
                                        <span class="text-4xl font-semibold tracking-tight text-gray-900">{{this.analysis.negative_review_count}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="px-4">
                                <p class="text-sm font-medium leading-6 text-gray-900">Total Average Reviews</p>
                                <div class="flex justify-between">
                                    <p class="mt-2 flex items-baseline gap-x-2">
                                        <span class="text-4xl font-semibold tracking-tight text-gray-900">{{this.analysis.average_review_count}}</span>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--graph-->
        <app-star-rating></app-star-rating>
        <!--Company list-->
        <div class="">
            <app-compnay-list></app-compnay-list>
        </div>
        

    </div>
</div>
